gunicorn==19.6.0
redis==2.10.5
Django==2.2.5
PyMySQL==0.8.1
djangorestframework==3.9.1
djangorestframework-jwt==1.11.0
mysqlclient
django-rest-swagger
django-filter
django-cors-headers
djangorestframework-camel-case
django_extensions
drf-extensions
uwsgi==2.0.17